<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Bird</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="estilizacao.css">
</head>
<body>



    <div class="display-bird">
        Display Bird
    </div>

    <h1>
        Gerador de Relatórios</a>
    </h1>

    <div class="dropdown">
        <p>
            <label for = "relatorios-graficos">Exiba um Relatório ou um Gráfico</label>
            <br>
            <select id="meu-dropdown">
                <option value="" selected disabled>Escolha uma opção</option>
                <option value="completo_relatorio.py">Relatório Completo</option>
                <option value="funcionarios_relatorio.py">Relatório de Funcionários</option>
                <option value="exames_relatorio.py">Relatório de Exames</option>
                <option value="exames_grafico.py">Gráfico de Exames</option>
            </select>

            <button class="gerar-botao">Gerar</button>
        </p>
    </div>
</body>
</html>